body {
	background-image: url(https://images8.alphacoders.com/865/thumb-1920-865032.jpg);
	background-size: cover;
}

h1 {
	font-family: "Brush Script MT", monospace;
	color: #e0b796;
	font-size: 53px;
}

nav ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
	background-color: #7ba513;
}

nav ul li {
	margin: 17px;
}

img:hover {
    opacity: 0.8;
}

nav ul li a {
	display: block;
	color: brown;
	font-family: "Helvetica", sans-serif;
	font-weight: bolder;
	text-decoration: none;
	font-size: 20px;
}

.active {
	color: yellow;
	text-decoration: underline;
}

li a:hover {
  color: black;
}

h3.Fellowship {
	font-family: "Arial", sans-serif;
	font-weight: bolder;
	font-size: 28px;
	color: #235104;
	text-align: center;
	border: 2px solid white;
	border-radius: 5px;
    background-color: white;
}

h3.Towers {
	font-family: "Arial", sans-serif;
	font-weight: bolder;
	font-size: 28px;
	color: #c05a51;
	text-align: center;
	border: 2px solid white;
	border-radius: 5px;
    background-color: white;
}

h3.King {
	font-family: "Arial", sans-serif;
	font-weight: bolder;
	font-size: 28px;
	color: #02084b;
	text-align: center;
	border: 2px solid white;
	border-radius: 5px;
    background-color: white;
}

h3.Hobbit {
	font-family: "Arial", sans-serif;
	font-weight: bolder;
	font-size: 28px;
	color: #a52a2a;
	text-align: center;
	border: 2px solid white;
	border-radius: 5px;
    background-color: white;
}

h4{
	color: lightblue;
	border: 9px solid red;
	border-radius: 8px;
	width: 46%;
    background-color: red;
    font-family: "Helvetica", sans-serif;
    font-size: 23px;
}

h5 {
	color: blue;
}

h12 {
	color: red;
	font-size: 10px;
}
